/*
============================================
; Title:  Bob's Computer
; Author: Jordan Hennessy
; Date:   23 October 2019
; Description: BobComputer Starter Code
;===========================================
*/

#logo {
  height: 50px;
  width: auto;
  vertical-align: middle;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
