h3, a, p {
  text-align: center;
}

.mat-icon {
  display: block;
  margin: auto;
  width: 62px;
  height: 62px;
  font-size: 62px;
}

a {
  text-transform: lowercase;
  text-decoration: none;
}

.mat-card-header-text {
  display: block;
  margin: auto;
}
