<div fxLayout="column">
  <mat-card fxFlex style="text-align: center;">

    <mat-card-header fxLayoutAlign="center">
      <mat-card-title style="text-align:center">Contact Us</mat-card-title>
      <mat-card-subtitle style="text-align:center">Have a question? Give us a call or send us an email!</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="row">
      <div fxFlex="33">
        <mat-icon color="primary" aria-hidden="false">phone</mat-icon>
        <h3>Phone</h3>
        <p><a href="tel:4011111111">402-111-1111</a></p>
      </div>

      <div fxFlex="33">
        <mat-icon color="primary" aria-hidden="false">email</mat-icon>
        <h3>Email</h3>
        <p><a href="mailto:info@bobscomputer.com">info@bobscomputer.com</a></p>
      </div>

      <div fxFlex="33">
        <mat-icon color="primary" aria-hidden="false">navigation</mat-icon>
        <h3>Address</h3>
        <p>111 Main St.
          <br />
          Omaha, NE 68144
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
