<div fxLayout="column">
  <mat-card fxFlex style="text-align: center;">
    <mat-card-header>
      <mat-card-title>Forgot Password</mat-card-title>
      <mat-card-subtitle>Answer your security questions below.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="verifySecurityQuestions()" #securityQuestionsForm >

        <h3>{{question1}}</h3>
        <mat-form-field >
          <input type="text" matInput [formControl]="form.controls['answerToSecurityQuestion1']" placeholder="answer" id="question1">
        </mat-form-field>

        <br />

        <h3>{{question2}}</h3>
        <mat-form-field >
          <input type="text" matInput [formControl]="form.controls['answerToSecurityQuestion2']" placeholder="answer" id="question2">
        </mat-form-field>

        <br />

        <h3>{{question3}}</h3>
        <mat-form-field >
          <input type="text" matInput [formControl]="form.controls['answerToSecurityQuestion3']" placeholder="answer" id="question3">
        </mat-form-field>

        <br />
        <mat-card-actions>
          <button mat-raised-button color="primary">Submit</button>
        </mat-card-actions>

      </form>
    </mat-card-content>
  </mat-card>
</div>
