<div class="not-found-card">
  <div class="message">
    <h1 class="not-found-message">
      <b>404</b>
      <h2 style="text-align:center" class="subtext">
        <b
          >Oh No! Looks like this<br />
          Page doesn't exist!</b
        >
      </h2>
    </h1>

    <div class="wrapper">
      <button
        mat-button
        class="mat-button"
        type="button"
        mat-raised-button
        color="primary"
      >
        <a routerLink="">Go Back</a>
      </button>
    </div>
  </div>
</div>
