<div fxLayout="column">
  <mat-card fxFlex style="text-align: center;">
    <mat-card-header>
      <mat-card-title>Forgot Password</mat-card-title>
      <mat-card-subtitle>Your account has been verified, enter your new password below.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <br />

      <form [formGroup]="form" (ngSubmit)=resetPassword() #resetPasswordForm>
        <mat-form-field >
          <input type="password" matInput [formControl]="form.controls['password']" placeholder="new password">
        </mat-form-field>
        <br />

        <button mat-raised-button color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
