<div fxLayout="column">
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>Forgot Password</mat-card-title>
      <mat-card-subtitle>Fill out the form below to reset your password</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <small *ngIf="errorMessage">{{errorMessage}}</small>

      <br />

      <form [formGroup]="stepone" (ngSubmit)=getQuestions()>
        <mat-form-field >
          <input type="text" matInput [formControl]="form.controls['username']" placeholder="username">
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
