<div fxLayout="column">
  <mat-card fxFlex style="text-align: center;">
    <mat-card-header>
      <mat-card-title>Forgot Password</mat-card-title>
      <mat-card-subtitle>Enter your username below to start reset your password.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="validateUsername()" #usernameForm >
        <mat-form-field >
          <input type="text" matInput [formControl]="form.controls['username']" placeholder="username">
        </mat-form-field>

        <br />
        <mat-card-actions>
          <button mat-raised-button color="primary">Submit</button>
        </mat-card-actions>

      </form>
    </mat-card-content>
  </mat-card>
</div>
