/*
============================================
; Title:  Bob's Computer
; Author: Don Cousar
; Date:   28 October 2019
; Description: About Us
;===========================================
*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }