<!--
/*
============================================
; Title:  Bob's Computer
; Author: Don Cousar
; Date:   25 October 2019
; Description: Bob's Computer
;===========================================
*/
-->

<div fxLayout="column">
    <mat-card>
        <img src="../../../assets/about_img.jpg" alt="About Bob's Computer Repair Service" class="center" />
        <br /><br /><br />
            <mat-card-title>About Us</mat-card-title> 
            <br /><br /><br />
                <mat-card-content>
                        <mat-card-subtitle style="text-align: left;">Who is Bob? </mat-card-subtitle>
                    <p>
                        Bob’s Computer Repair Shop provides computer services for your business or home.  
                        20 years ago, Bob started this company on the southwest side of Omaha, Nebraska.  
                        Bob holds a bachelor’s degree from Bellevue University.  Bob lives with his wife and family in Omaha.  
                    </p>
                        <br />
                        <mat-card-subtitle style="text-align: left;">What we do at Bob's Computer Repair Service</mat-card-subtitle>
                    <p>
                        If you are looking for computer repair services for your desktop or laptop in the greater Omaha area, don’t look any further.  
                        We are local, fast and fair.  Our technicians are trained to fix any computer brand.  
                        If you have an Apple or Windows device, just bring it to the store or fill out our services form. 
                    </p>
                        <br />
                        <mat-card-subtitle style="text-align: left;">Why Choose Bob's Computer Repair Service?</mat-card-subtitle>
                    <p>
                        We employ certified technicians and stand behind our work 100%.  
                        We are members of the Chamber of Omaha and work hard to establish and maintain a great working relationship for our business with the greater Omaha business community.  
                        Many of you already do business with us while some never heard of us.  
                        We feel that this is a great way to introduce us to those of you who haven’t had the pleasure of doing business with us.  
                        We offer a full range of computer services.   
                        If you have a broken screen or a virus or even a software problem we can fix it for you.  
                        Bob’s Computer Repair Shop parts come with a lifetime warranty on any manufacturer defect.  
                        Our technicians are all experts and have years of prior experience in the repair industry.  
                        Everyone you speak to in our shop is a technician that can answer your questions.  
                        Call, Click or Come by to obtain the best computer repair services you will ever have.
                    </p>
                </mat-card-content>
    </mat-card>
</div>
