<div fxLayout="column">
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Please enter your username and password below.</mat-card-subtitle>
    </mat-card-header>


    <mat-card-content >
      <small *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched" class="form-error">Username is required!</small>
      <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="form-error">Password is required!</small>
      <small *ngIf="errorMessage">{{errorMessage}}</small>

      <br />

      <form [formGroup]="form" (ngSubmit)="login()">
        <mat-form-field >
          <input type="text" matInput [formControl]="form.controls['username']" placeholder="username">
        </mat-form-field>
        <br />
        <br />
        <mat-form-field >
          <input type="text" matInput [formControl]="form.controls['password']" placeholder="password">
        </mat-form-field>
        <mat-card-actions>
          <div >
            <button type="submit" mat-raised-button color="primary">Login</button>
          </div>

          <br />
          <br />
          <div >
            <a routerLink="/signup" class="left">Sign Up</a>
            <a routerLink="" class="right">Forgot Password?</a>
          </div>

        </mat-card-actions>
      </form>

    </mat-card-content>
  </mat-card>
</div>
<!-- Alan's HTML
<div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">Login Here</div>
    <div class="card-body">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="alert alert-danger" [hidden]="!error">
          {{ error }}
        </div>
        <div class="form-group row">
          <label for="inputuserName3" class="col-sm-2 col-form-label">User Name</label>
          <div class="col-sm-10">
            <input
              type="text"
              name="userName"
              class="form-control"
              id="inputuserName3"
              placeholder="userName"
              [(ngModel)]="form.userName"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label"
            >Password</label
          >
          <div class="col-sm-10">
            <input
              type="password"
              name="password"
              class="form-control"
              id="inputPassword3"
              placeholder="Password"
              [(ngModel)]="form.password"
              required
            />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10 offset-2">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!loginForm.valid"
            >
              Sign in
            </button>

            <a routerLink="/session/signup" class="btn btn-info float-right">Sign Up</a>
          </div>
        </div>
        <div class="form-group row">
                <div class="col-sm-10 offset-2">

                  <a routerLink="/session/forgotPassword" class="btn btn-info float-right">Password Reset</a>


                </div>
              </div>
      </form>
    </div>
  </div>
</div>
-->
