<!--
    /*
============================================
; Title:  Bob's Computer
; Author: Don Cousar
; Date:   23 October 2019
; Description: Bob's Computer
;===========================================
*/
-->
<h1 mat-dialog-title>Delete User</h1>
<div mat-dialog-content>
  <h3>Are you sure you want to delete the following user?</h3>
  <p color="warn">This action can not be undone!</p>
  <h4>{{myUserName}}</h4>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onCancel()">Cancel</button>
  <button mat-button color="warn" (click)="delete()">Delete</button>
</div>
