<!--
    /*
============================================
; Title:  Bob's Computer
; Author: Don Cousar
; Date:   23 October 2019
; Description: Bob's Computer
;===========================================
*/
-->
<h1 mat-dialog-title>Bob's Computer Repair Shop</h1>
<div mat-dialog-content>
    <h3>Delete User</h3>
    <p>Deleting user: {{userName}}</p>
  <div>
    <h2>Delete User Header</h2> 
    <div>

    </div>
  </div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>
