<!--
/*
============================================
; Title:  Bob's Computer
; Author: Don Cousar
; Date:   25 October 2019
; Description: Bob's Computer
;===========================================
*/
-->

<div fxLayout="column">
    <mat-card>
        <mat-card-title>Edit User Details</mat-card-title>
        <form [formGroup]="form" (ngSubmit)="saveUser()" #userForm>
            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px">

                    <mat-form-field>
                        <input type="text"  matInput [(ngModel)]="PhoneNumber" value="{{PhoneNumber}}" [ngModelOptions]="{standalone: true}" placeholder="PhoneNumber" />
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text"  matInput [(ngModel)]="Address" value="{{Address}}" [ngModelOptions]="{standalone: true}" placeholder="Address" />
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text"  matInput [(ngModel)]="Email" value="{{Email}}" [ngModelOptions]="{standalone: true}" placeholder="Email" />
                    </mat-form-field>
            </div>
            </mat-card-content>
            <br />
            <mat-card-actions>
                <button mat-raised-button (click)="cancel()">Cancel</button>
                <button mat-raised-button>Submit</button>
            </mat-card-actions>
        </form>            
    </mat-card>  
</div>   

