<!--
============================================
; Title:  not-authorized
; Author: Don Cousar
; Date:   5 November 2019
; Description: BobComputer Not Authorized Error Page
;===========================================
-->
<div class="not-authorized-card">
    <div class="message">
        <h1 class="not-authorized-message">
        <b>401</b>
        <h2 style="text-align:center" class="subtext">
            <b
            >Oh No! Looks like <br />
            You are not Authorized!</b
            >
        </h2>
        </h1>
    
        <div class="wrapper">
        <button
            mat-button
            class="mat-button"
            type="button"
            mat-raised-button
            color="primary"
        >
            <a routerLink="">Go Back</a>
        </button>
        </div>
    </div>
</div>