<div fxLayout="column">
<mat-card  fxFlex style="width: 80%;">
  <mat-card-header fxLayout="row" fxLayoutAlign="center">
    <mat-card-title style="text-align: center;">
      New Order Form
    </mat-card-title>
    <mat-card-subtitle style="text-align: center;">
      Fill out the form below to create a new order
    </mat-card-subtitle>
  </mat-card-header>
  <form #serviceRepairForm="ngForm" (ngSubmit)="submit(serviceRepairForm.value); serviceRepairForm.reset();">
    <mat-card-content>
        <!-- service repair-->
        <div fxLayout="column">
            <h4 fxFlex>Services</h4>

            <div ngModelGroup="checkGroup" *ngFor="let service of services">
                <mat-checkbox name="{{service._id}}" ngModel>
                    {{service.serviceName}} ({{service.cost | currency}})
                </mat-checkbox>
                <br/>
            </div>
        </div>


        <!-- parts & labor-->

        <div fxLayout="column">
                <h4 fxFlex>Standard Fees</h4>
                <mat-form-field fxFlex style="widows: 300px !important;">
                    <input matInput
                            name="parts"
                            ngModel="{{partsAmount}}"
                            placeholder="Parts"/>
                </mat-form-field>

                <mat-form-field fxFlex style="widows: 300px !important;">
                        <input matInput
                                name="labor"
                                ngModel="{{laborAmount}}"
                                placeholder="Labor"/>
                    </mat-form-field>
            </div>



    </mat-card-content>
    <!-- form actions-->

    <mat-card-actions>
        <button mat-raised-button color="primary" >Submit</button>

    </mat-card-actions>

</form>
</mat-card>
</div>
