<div class="server-error-card">
        <div class="message">
          <h1 class="server-error-message">
            <b>500</b>
            <h2 style="text-align:center" class="subtext">
              <b
                >Oh No! Looks like something<br />
                Went wrong!</b
              >
            </h2>
          </h1>
      
          <div class="wrapper">
            <button
              mat-button
              class="mat-button"
              type="button"
              mat-raised-button
              color="primary"
            >
              <a routerLink="">Go Back</a>
            </button>
          </div>
        </div>
      </div>
      
