<!--
/*
============================================
; Title:  Bob's Computer
; Author: Don Cousar
; Date:   23 October 2019
; Description: Bob's Computer
;===========================================
*/
-->
<div fxLayout="column">
    <mat-card>
        <mat-card-title>User Management</mat-card-title>
        <mat-card-content>
                <form #f="ngForm">
                <table mat-table [dataSource]="users" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->

                    <!-- Last Name Column -->
                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef> Username </th>
                        <!-- Edit User Name Control-->
                        <td mat-cell *matCellDef="let element">
                            {{element.username}}
                        </td>
                    </ng-container>

                    <!-- First Name Column -->
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef> First Name </th>

                        <td mat-cell *matCellDef="let element">
                            {{element.firstName}}
                        </td>
                    </ng-container>

                    <!-- Last Name Column -->
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef> Last Name </th>

                        <td mat-cell *matCellDef="let element">
                            {{element.lastName}}
                        </td>
                    </ng-container>

                    <!-- Phone Number Column -->
                    <ng-container matColumnDef="phoneNumber">
                        <th mat-header-cell *matHeaderCellDef> Phone Number </th>

                        <td mat-cell *matCellDef="let element">
                            {{element.phoneNumber}}
                        </td>
                    </ng-container>

                    <!-- Address Column -->
                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef> Address </th>

                        <td mat-cell *matCellDef="let element">
                            {{element.address}}
                        </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>

                        <td mat-cell *matCellDef="let element">
                            {{element.email}}
                        </td>
                    </ng-container>

                    <!-- Edit Column -->
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef>  </th>

                        <td mat-cell *matCellDef="let element">
                            <button routerLink="/user/edit/{{element._id}}" > Edit </button>
                        </td>
                    </ng-container>

                    <!-- Delete Column -->
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef>  </th>

                        <td mat-cell *matCellDef="let element">
                            <button (click)="delete(element._id, element.username)" > Delete </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </form>
        </mat-card-content>
    </mat-card>
</div>
