<div fxLayout="column">
    <mat-card-header fxLayout="row" fxLayoutAlign="center">
      <mat-card-title style="text-align: center;">Invoice #{{data.invoice.number}}</mat-card-title>
      <mat-card-subtitle style="text-align: center;">
        {{ data.invoice.username }}, please confirm your order
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <form (ngSubmit)="confirm()">
        <br />
        <div fxLayout="row">
          <p style="text-align: left;">{{ data.invoice.orderDate }}</p>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="100px" fxLayoutAlign="flex-start">
          <div >
            <h3 style="text-align: left;"><b>Services</b></h3>
            <div *ngFor="let item of data.invoice.lineItems">
              <p style="text-align: left;">
                {{ item.serviceName }}: <span style="float:right"> ${{ item.serviceCost }}</span>
              </p>
            </div>
          </div>

          <div  >
            <h3 style="text-align: start;"><b>Standard Fees</b></h3>
            <p style="text-align: justify; text-align-last: justify;">
            Parts: ${{ data.invoice.partsAmount }}
            </p>
            <p style="text-align: justify; text-align-last: justify;">
            Labor: ${{ data.invoice.laborAmount }}
            </p>

            <br />

            <p style="text-align: end;">Total charges: ${{ data.invoice.total }}</p>
          </div>
        </div>



        <mat-card-actions>
          <button mat-raised-button matDialogClose type="reset" value="reset" (click)="cancel()" color="accent">Cancel</button>
          <button mat-raised-button matDialogClose color="primary" type="confirm" value="confirm">Confirm</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
</div>
