<div fxLayout="column">
  <mat-card fxFlex style="text-align: center;">
    <mat-card-header>
      <mat-card-title>Invoice #{{data.invoice.number}}</mat-card-title>
      <mat-card-subtitle style="text-align: center;">
        {{ data.invoice.username }}, please confirm your order
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="confirm()">
        <br />
        <p style="text-align: left;">{{ data.invoice.orderDate }}</p>

        <br /><br />
        <mat-divider></mat-divider>
        <h3 style="text-align: left;"><b>Services</b></h3>
        <div *ngFor="let item of data.invoice.lineItems">
          <p style="text-align: left;">
            {{ item.serviceName }}: <span style="float:right"> ${{ item.serviceCost }}</span>
          </p>
        </div>

        <br /><br />
        <mat-divider></mat-divider>
        <br /><br />

        <h3 style="text-align: start;"><b>Standard Fees</b></h3>
        <p style="text-align: justify; text-align-last: justify;">
          Parts: ${{ data.invoice.partsAmount }}
        </p>
        <p style="text-align: justify; text-align-last: justify;">
          Labor: ${{ data.invoice.laborAmount }}
        </p>

        <br /><br />
        <mat-divider></mat-divider>
        <br /><br />
        <p style="text-align: end;">Total charges: ${{ data.invoice.total }}</p>

        <mat-card-actions>
          <button mat-raised-button matDialogClose type="reset" value="reset" (click)="cancel()" color="accent">Cancel</button>
          <button mat-raised-button matDialogClose color="primary" type="confirm" value="confirm">Confirm</button>
        </mat-card-actions>
      </form>
    </mat-card-content>

  </mat-card>
</div>
