<div fxLayout="column">
  <mat-card fxFlex style="text-align: center;">
    <mat-card-header>
      <h3 style="text-align: center;">{{data.invoice.username}}, please confirm your order</h3>
      
    </mat-card-header>

    <br/>
      <p style="text-align: left;">{{data.invoice.orderDate}}</p>

      <br/><br/>
      <mat-divider></mat-divider>
      <h3 style="text-align: left;"><b>Services</b></h3>
      <ul>
        <li style="text-align-last: justify; text-align: justify;">{{data.invoice.lineItems}}</li>
      </ul>
      

        <br/><br/>
        <mat-divider></mat-divider>
        <br/><br/>

        <h3 style="text-align: start;"><b>Standard Fees</b></h3>
        <p style="text-align: justify; text-align-last: justify;">Parts: ${{data.invoice.partsAmount}}</p>
        <p style="text-align: justify; text-align-last: justify;">Labor: ${{data.invoice.laborAmount}}</p>

        <br/><br/>
        <mat-divider></mat-divider>
        <br/><br/>
        <p style="text-align: end;">Total charges: ${{data.invoice.total}}</p>
      
      
        <mat-card-actions align='end'>


        <button mat-raised-button type="reset" color="warn">Cancel</button>
        <button mat-raised-button color="primary">Submit</button>

    </mat-card-actions>
  
          <!--
          <ol>
            Line Items = {{data.invoice.lineItems}}
            partsAmount = {{data.invoice.partsAmount}} 
            laborAmount = {{data.invoice.laborAmount}}
            lineItemTotal = {{data.invoice.lineItemTotal}}
            total = {{data.invoice.total}}
          </ol>
  
    

  
        

const invoice = {
  lineItems: lineItems,
  partsAmount: partsAmount,
  laborAmount: laborAmount,
  lineItemTotal: lineItemTotal,
  total: total,
  username: this.username,
  orderDate: new Date()
};
    



-->





